<p-toast [baseZIndex]="1000"></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            
        </ng-template>

        <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload> -->
            <!-- <button pButton pRipple label="Export" icon="pi pi-upload" (click)="exportPdf()"
                class="p-button-help"></button> -->

            <button pButton pRipple label="Xuất excel" icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <!-- <button pButton pRipple label="Xuất pdf" icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning"
                pTooltip="PDF" tooltipPosition="bottom"></button> -->


        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="admins" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" 
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Hiển thị từ {first} tới {last} của {totalRecords}"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Quản lý tài khoản</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" >
            <tr>
                <th style="width: 5rem">
                    STT
                </th>
                <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Username <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Số điện thoại <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Trạng thái <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admin let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex}}
                </td>
                <td>{{admin.name}}</td>
                <td>{{admin.username}}</td>
                <td>{{admin.phone}}</td>
                <td><span
                        [class]="'product-badge status-' + admin.status">{{admin.status==1?"Đã sử dụng":"Không sử dụng"}}</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editProduct(admin)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProduct(admin)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng {{admins ? admins.length : 0 }} tầng.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="adminDialog" [style]="{width: '60%'}" [baseZIndex]="1000" [(header)]="modalName"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <ng-container *ngIf="modalType!=='setUp'">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="admin.name" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !admin.name">Name is required.</small>
            </div>
            <!-- <div class="p-field">
                <label for="quantity">Tầng</label>
                <p-dropdown [options]="admins" [(ngModel)]="product.floor"  placeholder="Chọn tầng" optionLabel="name" [showClear]="true"></p-dropdown>
                
            </div> -->
            <div class="p-field">
                <label for="quantity">Ảnh</label>
                <p-fileUpload #fileInput name="files" (onSelect)="upLoad_getBase64($event)"  (onUpload)="onUpload($event)"
                showCancelButton
                showUploadButton
    
                class="p-fileupload-buttonbar"
                previewWidth="100"
                 accept="image/*" maxFileSize="1000000">
                
                <ng-template pTemplate="content" >
                    <img *ngIf="adminImage_preview" style="padding: 1rem 1rem;" src="{{urlAPI}}imgs/{{adminImage_preview}}" width="100px" >
                </ng-template>
        </p-fileUpload>
            </div>
            <!-- <div class="p-field">
                <label class="p-mb-3">Type</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category1" name="type" value={{1}} [(ngModel)]="product.type">
                        </p-radioButton>
                        <label for="category1">Vip</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category2" name="type" value={{2}} [(ngModel)]="product.type">
                        </p-radioButton>
                        <label for="category2">Thường</label>
                    </div>
                    
                </div>
            </div> -->
    
            <div class="p-formgrid p-grid">
                <!-- <div class="p-field p-col">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="VND" locale="de-DE">
                    </p-inputNumber>
                </div> -->
                <!-- <div class="p-field p-col">
                    <label for="minmax">Số phòng</label>
                    <p-inputNumber [(ngModel)]="product.roomNumber" mode="decimal" [showButtons]="true" inputId="minmax" [min]="0" [max]="1000">
                    </p-inputNumber>
                </div> -->
            </div>
        </ng-container>
       
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" [baseZIndex]="1000"></p-confirmDialog>
