<p-sidebar [(visible)]="visible" (onHide)="hideRigeSidebar()" position="right" [baseZIndex]="1000" [style]="{padding:0,border:'10px solid',
    borderColor:room?(
        room.status===1? '#2ecc71':
        room.status===2? '#34495e':
        room.status===3? '#f1c40f':
        room.status===4? '#e74c3c':
        room.status===5? '#3498db':
        room.status===6? '#a978db':
        ''):''}">
    <img src="{{urlAPI}}imgs/{{room?room.image:''}}" height="150px" class="card-img-top" alt="">
    <img *ngIf="room&&room.type===1" src="assets/assets/img/vip8.png" class="roomvip" height="50px" alt="widget-card-2">
    <!-- <p-button type="button" (click)="ChangeAb()" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="ChangeAb()" label="Cancel" styleClass="p-button-secondary"></p-button> -->
    <div style="padding: 10px;">
        <h1 style="font-weight:normal">{{room?room.name:''}}</h1>
        <!-- <ng-container *ngFor="let status of statusRoom">
            <button class="btn mb-2" *ngIf="room.status===1" (click)="openDialog(1)">
                {{status.name}}
            </button>
        </ng-container> -->
        <h3>{{room&&room.status===2 ||room &&room.status===3?room.booking.bookingUsername:''}}</h3>

        <countdown style="font-size: 50px;" 
            *ngIf="room&&room.status===2"
           
            [config]="{leftTime: room.booking? room.booking.timeCaculatar:0}">
        </countdown><br/>
        <button class="btn btn-primary mb-2" *ngIf="room&&room.status===1" (click)="openDialog(2)">Đặt trước</button>
        <button class="btn btn-secondary mb-2"  *ngIf="room&&room.status===1" (click)="changeStatus(room,5)">Dọn phòng</button>
        <button class="btn btn-success mb-2" *ngIf="room&&room.status===1||room&&room.status===2" (click)="openDialog(1)">Đặt phòng</button>
        <button class="btn btn-danger mb-2" *ngIf="room&&room.status===2" (click)="cancelBooking(room)">Huỷ đặt trước</button>
        <button class="btn btn-info mb-2" *ngIf="room&&room.status===5" (click)="changeStatus(room,1)">Hoàn tất</button>
        <button class="btn btn-info mb-2" *ngIf="room&&room.status===3" (click)="changeStatus(room,1)">Gọi đồ</button>
        <button class="btn btn-success mb-2" *ngIf="room&&room.status===3" (click)="openDialog(1)">Thanh toán</button>

        <!-- <button class="btn btn-warning mb-2">Dọn</button>
        <button class="btn btn-dark mb-2">Dark</button> -->
    </div>

</p-sidebar>
<p-dialog [(visible)]="productDialog" *ngIf="typeDialog===2" [style]="{width: '600px'}"
    [header]="typeDialog===2?'Đặt trước':''" [modal]="true" styleClass="p-fluid" [baseZIndex]="1002">


    <ng-template pTemplate="content">
        <div  class="p-field">
            <label for="username">Tên khách hàng</label>
            <input type="text" pInputText id="username" [(ngModel)]="booking.bookingUsername" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !booking.bookingUsername">Tên khách hàng là bắt buộc.</small>
        </div>
        
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="phone">Số điện thoại</label>
                <p-inputNumber id="phone" mode="decimal"  [useGrouping]="false" [(ngModel)]="booking.bookingPhone"  >
                </p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="timeonly">Thời gian hết hạn (Phút)</label>
                <p-inputNumber [(ngModel)]="booking.bookingTimeStart" [showButtons]="true" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" [step]="1"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"  currency="VND">
                </p-inputNumber>
            <!-- <p-calendar [(ngModel)]="booking.BookingTimeStart" [timeOnly]="true" inputId="timeonly"></p-calendar> -->
            </div>
           
        </div>
        <div class="p-field">
            
            <!-- <input type="text" pInputText id="time" [(ngModel)]="room.name" required autofocus /> -->
            <!-- <small class="p-invalid" *ngIf="submitted && !room.name">Tên khách hàng là bắt buộc.</small> -->
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBooking(booking)"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="productDialog" *ngIf="typeDialog===1" [style]="{width: '450px'}"
    [header]="typeDialog===1?'Đặt ngay':''" [modal]="true" styleClass="p-fluid" [baseZIndex]="1002">


    <ng-template pTemplate="content">
        <div  class="p-field">
            <label for="username">Tên khách hàng</label>
            <input type="text" pInputText id="username" [(ngModel)]="booking.bookingUsername" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !booking.bookingUsername">Tên khách hàng là bắt buộc.</small>
        </div>
        
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="phone">Số điện thoại</label>
                <p-inputNumber id="phone" mode="decimal"  [useGrouping]="false" [(ngModel)]="booking.bookingPhone"  >
                </p-inputNumber>
            </div>
            
           
        </div>

        <div class="p-field">
            <label class="p-mb-3">Kiểu</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value={{1}} [(ngModel)]="booking.type">
                    </p-radioButton>
                    <label for="category1">Theo giờ</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value={{2}} [(ngModel)]="booking.type">
                    </p-radioButton>
                    <label for="category2">Qua đêm</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value={{3}} [(ngModel)]="booking.type">
                    </p-radioButton>
                    <label for="category3">Theo ngày</label>
                </div>
                
            </div>
        </div>
       
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBooking(booking)"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [baseZIndex]="1001" [style]="{width: '450px'}"></p-confirmDialog>