<!--  END LOADER -->

<!--  BEGIN NAVBAR  -->
<app-header></app-header>
<!--  END NAVBAR  -->

<!--  BEGIN NAVBAR  -->
<app-navbar></app-navbar>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">
  <div class="overlay"></div>
  <div class="search-overlay"></div>

  <!--  BEGIN SIDEBAR  -->
  <app-sidebar></app-sidebar>
  <!--  END SIDEBAR  -->

  <!--  BEGIN CONTENT PART  -->
  <div id="content" class="main-content">
    <div class="layout-px-spacing">
      <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
  </div>
  <!--  END CONTENT PART  -->
</div>