<div id="miniFooterWrapper" style="background-color: #212529;" class="">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="position-relative">
                    <div class="arrow text-center">
                        <p class="">Up</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 p-t-50"></div>
                            <div class="col-sm-6 col-md-8 p-t-50 mt-2">
                                <h2 class="m-b-33" style="color:white">KHÁCH SẠN Aranoz - nơi mang tới sự thoải mái và
                                    tiện nghi</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 p-t-0"></div>
                    <div class="col-sm-6 col-md-4">

                        <ul class="m-b-70" style="color:white">
                            <hr style="background-color:white;" width="25%">
                            <li class="m-b-14"><a href="/chi-tiet?id=5b8a04c7a0591c0facfc1d93" style="color:white">VỀ
                                    Aranoz</a></li>
                            <li class="m-b-14 m-t-30"><a href="/dat-ban" style="color:white">ĐẶT PHÒNG NGAY</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-4">

                        <ul class="m-b-70" style="color:white">
                            <hr style="background-color:white" width="25%">

                            <li class="m-b-14 m-t-30"><a href="/chi-tiet?id=5ba1ff7448c87e17b403b668"
                                    style="color:white">TUYỂN DỤNG</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div id="miniFooterWrapper" style="background-color: #0e1726;margin-top: 0;">
    <div class="container">

        <div class="row">
            <div class="col-md-2 p-t-0"></div>
            <div class="col-sm-6 col-md-4">
                <!-- --->
                <ul class="m-b-70" style="color:white">
                    <hr style="background-color:transparent" width="25%">
                    <li class="m-b-14">Công ty cổ phần Cam</li>
                    <!-- <li class="m-b-14 m-t-30">Chuỗi Nhà Hàng Lẩu Phan</li> -->
                    <li class="m-b-14 m-t-30">Trụ sợ chính: Số 9 Đào Duy Anh, Đống Đa, Hà Nội</li>
                    <li class="m-b-14 m-t-30">GPDK: 01N8012982 Ngày cấp 22/08/2017</li>
                    <li class="m-b-14 m-t-30"><a href="tel:19002808" style="color:white">HOTLINE 1900 2808</a></li>
                </ul><!-- --->
            </div>
            <div class="col-sm-6 col-md-4"></div>
            <div class="col-sm-6 col-md-2 p-t-10">
                <li class="m-t-30" style="color:white">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 p-t-10" style="text-align:right"></div><img
                            src="assets/assets/img/logo.svg" style="max-width: 174px;">
                        <div class="col-sm-12 col-md-12 p-t-10" style="text-align:right;color:white"></div> © 2020
                        Aranoz,JSC
                        .All right reserved
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>