<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">
            <nav id="sidebar">
                <div class="shadow-bottom"></div>

                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                        <a routerLinkActive="active" data-active="true" aria-expanded="true" class="dropdown-toggle">
                            <div class="">
                                <span>Tầng 1</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a routerLinkActive="active" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">
                            <div class="">
                                <span>Tầng 2</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div class="container-fluid">

                <div class="row">
                    <!-- <button pButton type="button" label="Primary" class="p-button-outlined">

                    </button> -->
                    <ng-container *ngFor="let room of rooms">
                        <div class="card component-card_2"
                            [ngStyle]="{'border-color':room.status===1?
                        '#f1c40f':room.status===2? '#e74c3c':room.status===3? '#3498db':room.status===4? '#34495e':room.status===4? '#2ecc71':''}"
                            [ngClass]="room.id===active?'activeCard':''" (click)="changeStatusSideBar(room)">
                            <img src="assets/assets/img/{{room.image}}" height="150px" class="card-img-top"
                                alt="widget-card-2">
                            <div class="card-body">
                                <h5 class="card-title">{{room.name}}</h5>
                                <p-button type="button" (click)="changeStatusSideBar(room)" icon="pi pi-arrow-left">
                                </p-button>

                                <p-button type="button" label="Save" styleClass="p-button-success">
                                </p-button>

                            </div>


                        </div>
                    </ng-container>

                    <!-- <div class="card component-card_2 activeCard" style="border-color:  #f1c40f;"
                        (click)="changeStatusSideBar()">
                        <img src="assets/assets/img/normal_11-571252810.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">Tên phòng</h5>
                            <p-button type="button" (click)="changeStatusSideBar()" icon="pi pi-arrow-left"></p-button>

                            <p-button type="button" label="Save" styleClass="p-button-success">
                            </p-button>

                        </div>


                    </div> -->

                    <!-- <div class="card component-card_2" style="border-color:  #e74c3c;" (click)="changeStatusSideBar()">
                        <img src="assets/assets/img/normal_11-571252810.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">Tên phòng</h5>
                            <p-button type="button" (click)="changeStatusSideBar()" icon="pi pi-arrow-left"></p-button>
                          
                            <p-button type="button" label="Save" styleClass="p-button-success">
                            </p-button>

                        </div>


                    </div>
                    <div class="card component-card_2" style="border-color:  #3498db;" (click)="changeStatusSideBar()">
                        <img src="assets/assets/img/normal_11-571252810.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">Tên phòng</h5>
                            <p-button type="button" (click)="changeStatusSideBar()" icon="pi pi-arrow-left"></p-button>
                          
                            <p-button type="button" label="Save" styleClass="p-button-success">
                            </p-button>

                        </div>


                    </div>
                    <div class="card component-card_2" style="border-color:  #34495e;" (click)="changeStatusSideBar()">
                        <img src="assets/assets/img/normal_11-571252810.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">Tên phòng</h5>
                            <p-button type="button" (click)="changeStatusSideBar()" icon="pi pi-arrow-left"></p-button>
                          
                            <p-button type="button" label="Save" styleClass="p-button-success">
                            </p-button>

                        </div>


                    </div>
                    <div class="card component-card_2" style="border-color:  #2ecc71;" (click)="changeStatusSideBar()">
                        <img src="assets/assets/img/normal_11-571252810.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">Tên phòng</h5>
                            <p-button type="button" (click)="changeStatusSideBar()" icon="pi pi-arrow-left"></p-button>
                          
                            <p-button type="button" label="Save" styleClass="p-button-success">
                            </p-button>

                        </div>


                    </div> -->
                    <div class="card component-card_2">
                        <img src="assets/assets/img/grid-blog-style-3.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">CLI Based</h5>

                            <a href="#" class="btn btn-primary">Explore More</a>
                        </div>
                    </div>
                    <div class="card component-card_2">
                        <img src="assets/assets/img/grid-blog-style-3.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">CLI Based</h5>

                            <a href="#" class="btn btn-primary">Explore More</a>
                        </div>
                    </div>
                    <div class="card component-card_2">
                        <img src="assets/assets/img/grid-blog-style-3.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">CLI Based</h5>

                            <a href="#" class="btn btn-primary">Explore More</a>
                        </div>
                    </div>
                    <div class="card component-card_2">
                        <img src="assets/assets/img/grid-blog-style-3.jpg" height="150px" class="card-img-top"
                            alt="widget-card-2">
                        <div class="card-body">
                            <h5 class="card-title">CLI Based</h5>

                            <a href="#" class="btn btn-primary">Explore More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<app-right-sidebar (visibleChanged)="visibleChanged($event)" [room]="RoomActive" [visible]="visibleSidebar">
</app-right-sidebar>