<p-toast [baseZIndex]="1000"></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm mới" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
            
        </ng-template>

        <ng-template pTemplate="right">
            <button pButton pRipple label="Xuất excel" icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success p-mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="products" [rows]="10" [paginator]="true"
        [globalFilterFields]="['name','country.name','representative.name','status']" [(selection)]="selectedProducts"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Quản lý phòng</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" >
            <tr>
                <th style="width: 5rem">
                    STT
                </th>
                <th pSortableColumn="name">Tên <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="price">Tầng <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="type">Loại <p-sortIcon field="type"></p-sortIcon>
                </th>
                <th pSortableColumn="type">Hình ảnh <p-sortIcon field="image"></p-sortIcon>
                </th>
                <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon>
                </th> -->
                <th pSortableColumn="status">Trạng thái <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
            <tr>
                <td>
                    {{rowIndex}}
                </td>
                <td>{{product.name}}</td>
                <td>{{product.floor.name}}</td>
                <!-- <td>{{product.price | currency:'USD'}}</td> -->
                <td>{{product.type===1?"Vip":"Thường"}}</td>
                <td><img src="{{urlAPI}}imgs/{{product.image}}" [alt]="product.name" width="100" class="p-shadow-4" /></td>

                <!-- <td>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                </td> -->
                <td><span
                        [class]="'product-badge status-' + product.status">{{product.status}}</span>
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editProduct(product)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning p-mr-2"
                        (click)="deleteProduct(product)"></button>
                        <button pButton pRipple icon="pi pi-tag" class="p-button-rounded p-button-warning"
                        (click)="setUpPrice(product)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng {{products ? products.length : 0 }} phòng.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '60%'}" [baseZIndex]="1000" [(header)]="modalName"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <ng-container *ngIf="modalType!=='setUp'">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small>
            </div>
            <div class="p-field">
                <label for="quantity">Tầng</label>
                <p-dropdown [options]="floors" [(ngModel)]="product.floor"  placeholder="Chọn tầng" optionLabel="name" [showClear]="true"></p-dropdown>
                <!-- <p-dropdown *ngIf="!product.idFloor" [options]="floors" [(ngModel)]="selectedFloor" placeholder="Select a City" optionLabel="name" [showClear]="true"></p-dropdown> -->
            </div>
            <div class="p-field">
                <label for="quantity">Ảnh</label>
                <p-fileUpload #fileInput name="files" (onSelect)="upLoad_getBase64($event)"  (onUpload)="onUpload($event)"
                showCancelButton
                showUploadButton
    
                class="p-fileupload-buttonbar"
                previewWidth="100"
                 accept="image/*" maxFileSize="1000000">
                
                <ng-template pTemplate="content" >
                    <img *ngIf="productImage_preview" style="padding: 1rem 1rem;" src="{{urlAPI}}imgs/{{productImage_preview}}" width="100px" >
                </ng-template>
        </p-fileUpload>
            </div>
            <div class="p-field">
                <label class="p-mb-3">Type</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category1" name="type" value={{1}} [(ngModel)]="product.type">
                        </p-radioButton>
                        <label for="category1">Vip</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category2" name="type" value={{2}} [(ngModel)]="product.type">
                        </p-radioButton>
                        <label for="category2">Thường</label>
                    </div>
                    
                </div>
            </div>
    
            <div class="p-formgrid p-grid">
                <!-- <div class="p-field p-col">
                    <label for="price">Price</label>
                    <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="VND" locale="de-DE">
                    </p-inputNumber>
                </div> -->
                <div class="p-field p-col">
                    <label for="minmax">Số phòng</label>
                    <p-inputNumber [(ngModel)]="product.roomNumber" mode="decimal" [showButtons]="true" inputId="minmax" [min]="0" [max]="1000">
                    </p-inputNumber>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="modalType==='setUp'">
            <div class="p-field">
                <label for="name">Name</label>
                <input disabled type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
                <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small>
            </div>
            
            <div class="p-field">
                <label class="p-mb-3">Kiểu</label>
                <div class="p-formgrid p-grid">
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category1" name="type" value={{1}} (onClick)="handleFilterPrice(1)" [(ngModel)]="priceType">
                        </p-radioButton>
                        <label for="category1">Theo giờ</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category2" name="type" value={{2}} (onClick)="handleFilterPrice(2)" [(ngModel)]="priceType">
                        </p-radioButton>
                        <label for="category2">Qua đêm</label>
                    </div>
                    <div class="p-field-radiobutton p-col-6">
                        <p-radioButton id="category2" name="type" value={{3}} (onClick)="handleFilterPrice(3)" [(ngModel)]="priceType">
                        </p-radioButton>
                        <label for="category2">Theo ngày</label>
                    </div>
                </div>
            </div>
    
            <div class="p-formgrid p-grid">
                <div class="p-field p-col" *ngIf="priceType!=1">
                    
                    <label for="price">Giá <span *ngIf="priceType==2">(1 đêm)</span>
                        <span *ngIf="priceType==3">(1 Ngày)</span>
                    </label>
                    <p-inputNumber id="price" [(ngModel)]="price.price" mode="currency" currency="VND" locale="de-DE">
                    </p-inputNumber>
                </div>
                <div class="p-field p-col" *ngIf="priceType==1">
                    
                    <label for="price">Giá giờ đầu</label>
                    <p-inputNumber id="price" [(ngModel)]="price.priceFirst" mode="currency" currency="VND" locale="de-DE">
                    </p-inputNumber>
                </div>
                <div class="p-field p-col" *ngIf="priceType==1">
                    
                    <label for="price">Giá từ giờ thứ 2</label>
                    <p-inputNumber id="price" [(ngModel)]="price.priceSecond" mode="currency" currency="VND" locale="de-DE">
                    </p-inputNumber>
                </div>
       
            </div>
        </ng-container>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}" [baseZIndex]="1000"></p-confirmDialog>