<div class="container">


    <div class=" layout-spacing">

        <div class="hd-header-wrapper">
            <div class="row" style="margin-top: 100px;">
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger  mb-2 btn-lg" style="width: 200px;
                    height: 60px;font-size: 24px;">ĐẶT PHÒNG</button>
                    <div class="row">
                        <div class=" mx-auto" style="font-size: 24px;margin-top: 15px;">
                            <h3>Tự hào là nơi đem lại sự thoải mái nhất</h3>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit tempore quasi ipsam ducimus
                            doloremque dicta ab harum magni illo saepe beatae, debitis sed iste earum distinctio fugiat,
                            exercitationem nulla reiciendis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row flex-center justify-content-center align-items-center flex-md-column">

        <div class="title-section-ourmenu t-center m-b-22">
            <h2 class="t-center m-t-2"><b> HỆ THỐNG KHÁCH SẠN</b></h2>
        </div>
        <button class="btn btn-dark mb-2">Hà Nội</button>
        <div class="row">
            <div class="col-md-12" style="font-size:20px">
                <div class="row  flex-center justify-content-center align-items-center flex-md-column">

                    <div class="col-md-24">
                        <div>
                            <div class="col-md-12">
                                <div class="row" id="dataShop-home">
                                    <div class="col-md-6">
                                        <ul>
                                            <li class="m-t-20" style="list-style-type: disc;text-align:left"> <b>Khách
                                                    sạn anazor
                                                    Thái Hà : </b>Ngõ 131 - Thái Hà, Trung Liệt, Đống Đa, Hà Nội</li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-20" style="text-align:center">
                        <!-- a.btn.btn-lg.btn-orange(href='/dat-ban') ĐẶT BÀN NGAY-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>