

<div class="header-container  fixed-top">

  <header class="header navbar navbar-expand-sm">
    <div class="container">

      <ul class="navbar-item theme-brand flex-row text-center">
        <li class="nav-item theme-logo">
          <a href="index-2.html">
            <img src="assets/assets/img/logo.svg" class="navbar-logo" alt="logo" />
          </a>
        </li>
        <li class="nav-item theme-text">
          <a href="index-2.html" class="nav-link"> CORK </a>
        </li>
      </ul>

      <ul class="navbar-item flex-row ml-md-auto">
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/" class="nav-link dropdown-toggle" id="language-dropdown">
            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Trang chủ</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/contactus" class="nav-link dropdown-toggle" id="language-dropdown">
            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Đặt phòng trực tuyến</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/contactus" class="nav-link dropdown-toggle" id="language-dropdown">
            <!-- <img src="assets/assets/img/ca.png" class="flag-width" alt="flag" /> -->

            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Khuyến mại</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/contactus" class="nav-link dropdown-toggle" id="language-dropdown">
            <!-- <img src="assets/assets/img/ca.png" class="flag-width" alt="flag" /> -->

            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Tin tức</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>