<!-- <ul>
  <li>
    <a class="navbar-brand" routerLink="/">home</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/github/list">GitHub</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/admin">Admin</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/aboutus">About</a>
  </li>
  <li>
    <a class="navbar-brand" routerLink="/contactus">Contact</a>
  </li>
</ul> -->

<div class="header-container  fixed-top">

  <header class="header navbar navbar-expand-sm">
    <div class="container">

      <ul class="navbar-item theme-brand flex-row text-center">
        <li class="nav-item theme-logo">
          <a href="index-2.html">
            <img src="assets/assets/img/logo.svg" class="navbar-logo" alt="logo" />
          </a>
        </li>
        <li class="nav-item theme-text">
          <a href="index-2.html" class="nav-link"> CORK </a>
        </li>
      </ul>

      <!-- <ul class="navbar-item flex-row ml-md-0 ml-auto">
        <li class="nav-item align-self-center search-animated">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search toggle-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <form [formGroup]="" class="form-inline search-full form-inline search" role="search">
            <div class="search-bar">
              <input type="text" class="form-control search-form-control ml-lg-auto" placeholder="Search..." />
            </div>
          </form>
        </li>
      </ul> -->

      <ul class="navbar-item flex-row ml-md-auto">
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/" class="nav-link dropdown-toggle" id="language-dropdown">
            <!-- <img src="assets/assets/img/ca.png" class="flag-width" alt="flag" /> -->

            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Trang chủ</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/contactus" class="nav-link dropdown-toggle" id="language-dropdown">
            <!-- <img src="assets/assets/img/ca.png" class="flag-width" alt="flag" /> -->

            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Đặt phòng trực tuyến</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/contactus" class="nav-link dropdown-toggle" id="language-dropdown">
            <!-- <img src="assets/assets/img/ca.png" class="flag-width" alt="flag" /> -->

            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Khuyến mại</span>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item dropdown language-dropdown">
          <a routerLink="/contactus" class="nav-link dropdown-toggle" id="language-dropdown">
            <!-- <img src="assets/assets/img/ca.png" class="flag-width" alt="flag" /> -->

            <div class="media-body">
              <div class="notification-para">
                <span class="user-name">Tin tức</span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>